/node_modules
nodemodules/

sh/node_modules/

node/node-gyp/hello-world/node_modules/
node/node-gyp/hello-world/build/
node/node-gyp/hello-world/yarn.lock
Rust/print-demo/target/
Rust/http-demo/target/
Rust/str_demo/target/
Rust/let_demo/target/
Rust/struct_demo/target/
Rust/enum_demo/target/
Rust/cargo_demo/target/
Rust/array_demo/target/
Rust/map_demo/target/
Rust/err_demo/target/
Rust/closures_demo/target/
Rust/point_demo/target/
Rust/asyc_demo/target/
Rust/note_demo/target/